In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("50_Startups.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [6]:
state=pd.get_dummies(df['State'],drop_first=True)

In [7]:
df=df.drop('State',axis=1)

In [8]:
df=pd.concat([df,state],axis=1)

In [9]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [10]:
x=df.drop('Profit',axis=1)

In [11]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [12]:
y=df['Profit']

In [13]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=33)

In [14]:
xtrain.shape

(40, 5)

In [15]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [16]:
model.fit(xtrain,ytrain)

LinearRegression()

In [18]:
ypred=model.predict(xtest)

In [20]:
from sklearn.metrics import r2_score
score=r2_score(ytest,ypred)

In [21]:
score

0.9115245577202241

In [22]:
model.coef_

array([ 8.34155717e-01, -6.00345328e-02,  3.75955311e-02,  1.02940689e+02,
        1.92370012e+03])

In [23]:
model.intercept_

49691.22176171913

In [24]:
val=np.array([[165349.20,136897.80,471784.10,0,1]])
new=model.predict(val)

c:\Users\vasanthselvarasu\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [25]:
new

array([199060.28063258])

In [29]:
import joblib
joblib.dump(model, 'mlr.joblib')

# Load the model
loaded_model = joblib.load('mlr.joblib')